<html>

<head>
	<base href="/" />
	<meta charset="utf-8" />
	<title><%= appName %></title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" th:href="@{images/favicon.ico}" />
	<link rel="stylesheet" href="//js.arcgis.com/3.14/esri/css/esri.css"/>
	<!-- bower:css -->
	<!-- endbower -->
	<!-- inject:css -->
  <!-- endinject -->
</head>

<body ng-app="app">
	<ui-view></ui-view>
  <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->
	<script src='//js.arcgis.com/3.14/'></script>
</body>

</html>
