<html>

<head>
	<base href="/"/>
	<meta charset="utf-8"/>
	<title><%= appName %></title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width"/>
	<!--/* Hacky meta tag so that the Angular webapp can recognize when the user's session has expired */-->
	<meta name="springBootLoginForm" content=""/>
	<link rel="shortcut icon" th:href="@{images/favicon.ico}"/>
	<!-- bower:css -->
	<!-- endbower -->
	<!-- inject:css -->
	<!-- endinject -->
</head>

<body>
<div class="container">
	<center>
		<form style="max-width: 350px;" th:action="@{/login}" method="post">
			<h2><%= appName %></h2>
			<div th:if="${param.error}" class="alert alert-error">Invalid username and password.</div>
			<div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>
			<div class="form-group">
				<label for="username" class="sr-only">Username</label>
				<input type="text" name="username" class="form-control" placeholder="Username" required="required"
							 autofocus="autofocus"/>
			</div>
			<div class="form-group">
				<label for="password" class="sr-only">Password</label>
				<input type="password" name="password" class="form-control" placeholder="Password" required="required"/>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</form>
	</center>
</div>
</body>

</html>